.search-results {
  background: white;
  height: 80vh;
  margin-top: 2%;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  .table {
    width: 60vw;
    margin: 0 auto;
    overflow-y: scroll;
    height: 40vh;
  }
  .results-overflow {
    overflow-y: scroll;
    height: 55vh;
  }
}
.search-input {
  form {
    margin-top: 3vh;
  }
  input[type=submit] {
    background-color: $blue;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    margin-left: 1vw;
  }
  input[type=text] {
    border-radius: 5px;
    margin-top: 1vh;
    padding: 10px 10px;
  }
}

.clickable-row {
  background-color: #DCF0FA;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}


.list-group {

}

#list_results {
    background-color: $blue;
  }

.kardashatoo_invert {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        position: absolute;
        right: 10px;
        top: 30%;
}

// background-color: white;
//   margin-top: 50px;
//   border-radius: 16px;
//   height: 70vh;
//   min-height: 350px;

