.aviary-title {
  height: 110px;
}

.aviary-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60vh;
  overflow-x: hidden;
}

.aviary-title-div {
  display: flex;
  justify-content: center;
}

.aviary-card-body {
  background-color: #C7F2FF;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
}

.locked {
  background-color: #E6E6E6 !important;
}

.aviary-card {
  width: 215px;
  margin: 15px;
}

.aviary-card-footer {
  background-color: white;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  height: 150px;
}

.aviary-image {
  height: 150px;
}

@media only screen and (max-width: 768px) {
    .aviary-title {
      height: 50px;
    }
}
