// Specific CSS for your home-page
body {
  background-color: $blue;
}

.banner {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
}

h3{
  color:white;
}

.page-wrapper {
	max-width: 900px;
	margin: 0 auto;
	min-height: calc(100vh - 100px)
}