.leaderboard {
  background-color: white;
  margin-top: 50px;
  padding: 30px;
  border-radius: 16px;
  height: 70vh;
  min-height: 350px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  position: relative;
  font-family: 'Arimo', sans-serif;
  h1 {
    margin-bottom: 3vh;
  }
  table {
    width: 38.5vw;
  }

  .thead {
    border-bottom:  0 solid white !important;
  }
  .self {
    background-color: $blue;
    border-bottom: 2px solid black;
  }
  .tabs {
    background: white;
    display: flex;
    width: 40vw;
    min-height: 50px;
  }
  .tabs a {
    color: white;
  }
  .tabs a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
  }
  .tabs h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
  }
  .tabs p {
    opacity: 0.5;
    margin-bottom: 0;
  }
  .tab {
    background: $blue;
    flex: 1 1 auto;
    text-align: center;
    padding: 20px 30px;
  }
  .tab:first-child {
    border-radius: 10px 0 0 0;
  }
  .tab:last-child {
    border-radius: 0 10px 0 0;
  }
  .tab.active {
    opacity: 0.8;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
  }
  .tab-content {
    height: 40vh;
    min-height: 150px;
    overflow-y: scroll;
    width: 40vw;
    border-radius: 0 0 0 16px ;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
  }
  .tab-content p {
    font-size: 30px;
    font-weight: bold;
  }

}

.swanye {
  position: absolute;
  right: 10px;
  top:250px;

}

.trumper {
  position:absolute;
  left:10px;
  top:250px;
}

