<% rqst = @round.round_questions.where(answered: false).first%>

<div class="container">
	<h3 class="text-center">
		<%= rqst.question.content %>
	 </h3>

	<div class="row">
	<%  @answers.each do |answer|%><br>

	<%= link_to answer.name, check_answer_round_path(@round, answer_id: answer.id), remote: true, class: 'btn btn-primary answer' %>
	<br>
	<% end %>

	</div>

	<%= link_to "next question" , round_path(@round) , :method=> :put, class: 'btn btn-primary' %>

</div>


