<div class="container">
  <div class="row">
    <div class="row" id="twitter-bar">
      <div class="col-xs-3">
        <img id="avatar" class="img-responsive" alt="avatar" src="http://placehold.it/800x500">
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="tabs">
        <div class="col-xs-1">
          <div class="tab-box">
            <a class="tab active" data-target="#fame">
              <p class="button-word">Fame</p>
              <p class="tab-number">1,545</p>
            </a>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="tab-box">
            <a class="tab" data-target="#following">
              <p class="button-word">Following</p>
              <p class="tab-number">256</p>
            </a>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="tab-box">
            <a class="tab" data-target="#followers">
              <p class="button-word">Followers</p>
              <p class="tab-number">2,637</p>
            </a>
          </div>
        </div>
        <div class="col-xs-1 col-xs-offset-4">
          <a href="#" class="btn btn-primary follow-btn">Follow</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default info">
        <div class="panel-body">
          <div class="row">
            <h3 id="name">Name</h3>
            <p id="handle">@Handle</p>
          </div>
          <div class="row">
            <p>Location</p>
          </div>
          <div class="row">
            <p>Twitter Link</p>
          </div>
          <div class="row">
            <p>Date Joined</p>
          </div>
          <div class="row">
            <p>Bio</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 ">
      <div class="tab-content" id="fame">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="media">
                  <a class="media-left" href="#fake">
                    <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Fame</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content hidden" id="following">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="media">
                  <a class="media-left" href="#fake">
                    <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Following</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content hidden" id="followers">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="media">
                  <a class="media-left" href="#fake">
                    <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Followers</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
