<div class="container">
  <div class="row">
    <div class="row" id="twitter-bar">
      <div class="col-xs-3">
        <img id="avatar" class="img-responsive" alt="avatar" src="http://placehold.it/800x500">
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="col-xs-1">
        <h5>
          <small>FAME</small>
          <a href="#">1,545</a>
        </h5>
      </div>
      <div class="col-xs-1">
        <h5>
          <small>FOLLOWING</small>
          <a href="#">251</a>
        </h5>
      </div>
      <div class="col-xs-1">
        <h5>
          <small>FOLLOWERS</small>
          <a href="#">153</a>
        </h5>
      </div>
      <div class="col-xs-1">
        <h5>
          <small>Follow Button</small>
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <h3>Name</h3>
            <p id="handle">@Handle</p>
          </div>
          <div class="row">
            <p>Location</p>
          </div>
          <div class="row">
            <p>Twitter Link</p>
          </div>
          <div class="row">
            <p>Date Joined</p>
          </div>
          <div class="row">
            <p>Bio</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-body">
          <div class="media">
            <a class="media-left" href="#fake">
              <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Dolorem aspernatur rerum, iure? Culpa iste aperiam sequi, fuga, quasi rerum, eum, quo natus tenetur officia placeat.</p>
              <ul class="nav nav-pills nav-pills-custom">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
              </ul>
            </div>
          </div>

          <div class="media">
            <a class="media-left" href="#fake">
              <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Dolorem aspernatur rerum, iure? Culpa iste aperiam sequi, fuga, quasi rerum, eum, quo natus tenetur officia placeat.</p>
              <ul class="nav nav-pills nav-pills-custom">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
              </ul>
            </div>

          </div>
          <div class="media">
            <a class="media-left" href="#fake">
              <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Dolorem aspernatur rerum, iure? Culpa iste aperiam sequi, fuga, quasi rerum, eum, quo natus tenetur officia placeat.</p>
              <ul class="nav nav-pills nav-pills-custom">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
              </ul>
            </div>

          </div>
          <div class="media">
            <a class="media-left" href="#fake">
              <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Dolorem aspernatur rerum, iure? Culpa iste aperiam sequi, fuga, quasi rerum, eum, quo natus tenetur officia placeat.</p>
              <ul class="nav nav-pills nav-pills-custom">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
              </ul>
            </div>

          </div>
          <div class="media">
            <a class="media-left" href="#fake">
              <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Dolorem aspernatur rerum, iure? Culpa iste aperiam sequi, fuga, quasi rerum, eum, quo natus tenetur officia placeat.</p>
              <ul class="nav nav-pills nav-pills-custom">
                <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <div class="col-sm-3">
    </div>
  </div>
</div>
