<div class="container">
  <div class="row">
    <div class="row" id="twitter-bar">
      <div class="col-xs-3">
        <img id="avatar" class="img-responsive" alt="avatar" src="https://image.flaticon.com/icons/png/512/78/78373.png">
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="tabs">
        <div class="col-xs-1">
          <div class="tab-box active">
            <a class="tab active" data-target="#fame">
              <p class="button-word">Fame</p>
              <p class="tab-number">1,567</p>
            </a>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="tab-box">
            <a class="tab" data-target="#following">
              <p class="button-word">Following</p>
              <p class="tab-number">256</p>
            </a>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="tab-box">
            <a class="tab" data-target="#followers">
              <p class="button-word">Followers</p>
              <p class="tab-number">2,637</p>
            </a>
          </div>
        </div>
        <div class="col-xs-1 col-xs-offset-4">
          <a href="#" class="btn btn-primary follow-btn">Follow</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default info add-top-margin">
        <div class="panel-body">
          <div class="row">
            <h3 id="name">Name</h3>
            <p class="small-font">@Handle</p>
          </div>
          <div class="row small-font" id="bio">
            <p>Bio (with character limit)</p>
          </div>
          <div class="row small-font">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Location</p>
          </div>
          <div class="row small-font">
            <p><i class="fa fa-link" aria-hidden="true"></i> Twitter Link</p>
          </div>
          <div class="row small-font">
            <p><i class="icon-calendar"></i> Date Joined</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 ">
      <div class="tab-content active" id="fame">
        <div class="row">
          <div class="col-sm-12">
            <div class="score-panel add-top-margin">
              <div class="row">
                <div class="col-xs-2">
                  <img alt="avatar" class="small-avatar" src="https://image.flaticon.com/icons/png/512/78/78373.png">
                </div>
                <div class="col-xs-8">
                  <h4 class="card-inline scorecard-name">Name</h4>
                  <p class="small-font card-inline">@Handle</p>
                  <br />
                  <p class="card-inline"><i class="fa fa-bar-chart" aria-hidden="true"></i> 87</p>
                  <p class="card-inline"> <i class="fa fa-check-square-o" aria-hidden="true"></i> 6/10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content hidden" id="following">
        <div class="container">
          <div class="cards">
            <div class="card">
              <div class="card-body">
                <div class="card-avatar">
                  <img src="https://pbs.twimg.com/media/C8TLA5aWsAEbNUg.jpg" class="small-avatar">
                </div>
              </div>

              <div class="card-footer">
                <div class="card-info">
                  <p class="card-name">Name</p>
                  <p class="small-font">@Handle</p>
                </div>
                <div class="card-follow">
                  <a href="#" class="btn btn-primary follow-btn">Follow</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content hidden" id="followers">
        <div class="container">
          <div class="cards">
            <div class="card add-top-margin">
              <div class="card-body">
                <div class="card-avatar">
                  <img src="https://pbs.twimg.com/media/C8TLA5aWsAEbNUg.jpg" class="small-avatar">
                </div>
              </div>

              <div class="card-footer">
                <div class="card-info">
                  <p class="card-name">Name</p>
                  <p class="small-font">@Handle</p>
                </div>
                <div class="card-follow">
                  <a href="#" class="btn btn-primary follow-btn">Follow</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
