<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/HearSayTheGame/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/hearsaythegame"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Property of Sloosh Co
  </div>
</div>
