<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/HearSayTheGame/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/hearsaythegame" target="_blank"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Property of Sloosh Co. Trespassers will be shot.
  </div>
</div>
