<div class="banner" id="home-banner" style="background-image: linear-gradient(-100deg, rgba(0,0,0,0) 100%, rgba(0,36,61,0.6) 99%), url(<%=image_path('HearSayBannerDesktop.png')%>">
    <div class="row no-margin">
      <div class="col-xs-12 col-sm-4 col-sm-offset-8 ">
        <div class="banner-content text-center">
          <%= image_tag "HearSayBannerMobile.png", class: "hidden-md hidden-lg" %>
          <h2>Guess Tweets. Get Famous.</h2>
          <div>
          <%= link_to rounds_path() , :method=> :post, class: "btn btn-hearsay btn-hearsay-white" do%>
          <!-- <a class="btn btn-hearsay btn-hearsay-white"> -->
            <span class ="fa fa-play social-icon"></span>Play
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-margin hidden-xs">
      <h1><div class="col-xs-12 col-sm-4 left-home-div typewrite" data-period="5" data-type='[ "#WhoSaidWhatNow!" ]'>
        <span class="wrap"></span>
      </div>
      </h1>
    </div>
</div>


<script>

var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };

</script>

