// Specific CSS for your home-page
.jumbotron {
  background-color: white;
  margin-top: 50px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.question h3 {
  color: black;
  size: 25px;
}

.question h4 {
  color: black;
  size: 20px;
}

.question h5 {
  color: black;
  size: 16px;
}

.grayer {
	width: 100px;
	height: 100px;
}

.question {
  margin-bottom: 50px;
  border: 1px solid;
  border-radius: 16px;
  padding: 20px;
}

.answer_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.answer {
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 1px 1px #888888;
}

.btn-answer {
  background-color: white;
  opacity: 0.6;
  color: black;
  border: 1px solid $gray-lighter;
  border-radius: 16px;
  padding: 10px 15px;
}

.btn-answer:hover {
  background-color: white;
  opacity: 1;
  color: black;
}

.btn-answer-green {
  background-color: green;
  opacity: 0.6;
  color: white;
  border: 1px solid $gray-lighter;
  border-radius: 16px;
  padding: 10px 15px;

}

.btn-answer-red {
  background-color: red;
  opacity: 0.6;
  color: white;
  border: 1px solid $gray-lighter;
  border-radius: 16px;
  padding: 10px 15px;
}

.btn-answer-red:hover {
  color: white;
  background-color: red;
}

.btn-answer-green:hover {
  background-color: green;
  color: white;
}

.speech-bubble {
	width: 114px * 2;
	height: 100px * 2;
	position: absolute;
	top: 170px;
	left: 35px;
	right: 3%;
	background-image: url('speech_bubble.png');
	background-size: cover;
	background-repeat: none;
	p {
		position: absolute;
		top: 75px;
		left: calc(50% - 10px);
		color: white;
		font-size: 50px;
		font-weight: bolder;
		line-height: 1;
	}
}

.next-question {
	display: none;
	position: absolute;
	top: 70%;
	right: 10px;
}

#next-question {
	background-color: $blue;
	color: white;
}

.go-to-next-question {
	display: none;
}

#score {
	margin-bottom: -50px;
}

#bar-column {
	height: 100vh;
}

#myProgress {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  margin-top: 50px;
  width: 150%;
  background-color: #ddd;
  position: absolute;
  bottom: 67%;
}

#myBar {
  width: 1%;
  height: 40px;
  background-color: $blue;
}
