.result-box {
  width: 80vw;
  background-color: $white;
}

.play-game__wrapper {
  height: calc(100vh - 70px - 59px);
  display: flex;
  align-items: center;
}

.birdber {
  position: absolute;
  left: 15px;
  top:30%;
}

.rownaldo {
  position: absolute;
  right: 10px;
  top:30%;
}

.play-game__card {
  background-color: white;
  border: 3px solid $gray-darker;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px $gray-darker;
}

.play-game-card__user {
  padding-bottom: 15px;
  border-bottom: 2px solid $gray-darker;
}

.play-game-card-user__picture {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.play-game-card-user__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.play-game-card__tweet {
  margin-top: 5px;
}

.play-game-card-tweet__bird {
  padding: 0;
  img {
    width: 100px;
    height: 100px;
  }
}

.play-game-card-tweet__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  text-align: center;
}

.play-game-card__footer {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-game-card-footer__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  .fa {
    font-size: 40px;
  }
  .fa-trophy {
    color: $brand-info !important;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .fa-user {
    color: $brand-primary !important;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}


.play-game-card-footer__score {
  .odometer {
    font-size: 40px;
  }
}


@media only screen and (max-width: 1200px) {
  .play-game-card-footer__score {
      .odometer {
      font-size: 25px;
    }
  }
}


@media only screen and (max-width: 992px) {

  .play-game__wrapper {
    position: absolute;
    top: 70px;
    bottom: 0;
    display: flex;
    background-color: white;
    align-items: center;
  }

  .play-game__card {
    background-color: transparent;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    height: 50%;
    border: none;
  }

  .play-game-card-footer__score {
  .odometer {
    font-size: 20px;
  }
}
}

@media only screen and (max-width: 500px) {


  .play-game-card-footer__score {
    .odometer {
    font-size: 12px;
  }
}

}



.wrapper {
  //height: 100vh;
}

.tweet {
  background-color: white;
  border-radius: 5px;
  width: 50vw;
  padding: 20px 20px 0 20px;
  border: 2px solid  rgb(225, 232, 237);
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  height:450px;
  margin: 0 auto;
  margin-top: 150px;
}

.tweet-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet-user{
  display:flex;
  margin-bottom: 7%;
  p {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
  }
  .avatar {
    border: 3px solid;
    height: 25px;
    width: 25px;
  }
}



.tweet-items {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-name {
  display: flex;
  align-items: center;
  font-size: 20px;
}


.tweet-name h2{
  color: black;
  margin-left: 10px;
}

.tweet-content {
  display: flex;
  align-items: center;
}

.tweet-content h3 {
  color: rgba(0,0,0,0.6);
}

.tweet-content-sub {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0 10px;
  }
}

.tweet-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;

}

.tweet .avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.tweet-message {
  color: black;
  display: flex;
  .grayer {
    height: 135px;
    width: 175px;
  }
  position: relative;
}

.profile-results {
  margin-left: 15px;
}

.score-message {
  margin-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-results {
  a {
    margin: 0 10px;
  }
}

.odometer {
  font-size: 25px;
}
