.background {
  background: $blue;
  background: -webkit-linear-gradient(left top, $blue, #88DDED);
  background: -o-linear-gradient(bottom right, $blue, #88DDED);
  background: -moz-linear-gradient(bottom right, $blue, #88DDED);
  background: linear-gradient(to bottom right, $blue, #88DDED);
  height: 100vh;
}

.form-box {
  background-color: white;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #6C9FBF;
  width: 30vw;
}

.form-box h3 {
  font-weight: bold;
}

.signup {
  padding: 5px 40px 5px 40px;
  border-radius: 50px;
  text-align: center;
  color: white;
  background-color: #1da1f2;
  text-shadow: none;
  border: none;
  margin-left: -30px;
}

.signup:hover {
  background-color: #006dbf;
  color: white;
}

@media only screen and (max-width: 800px) {
    .form-box {
      width: 90vw;
  }
}
