/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #FFFFFF;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#my_id{
  margin-top: 40px;
  margin-left: 10px;
}

/* Logo */
.navbar-hearsay-brand img {
  height: 50px;
  position: absolute;
  left: 50%;
  top: 10px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-navigation {
  align-self: flex-start;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height: 100%;
}

.right-navigation {
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height: 100%;
}

.right-navigation-link{
  margin-left: 10px;
  font-family: 'Arimo', sans-serif;
}

.left-navigation-links {
  color: #13A4EB;
}

.left-navigation-links:hover{
  color: red;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}


/* Navbar link */
.navbar-hearsay-link {
  color: #13A4EB;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  &:hover {
    text-decoration:none;
    color: red;
  }
}

.btn-homepage {
  padding: 10px 20px 10px 20px;
  margin: 1px 1px 1px 1px;
  border:1px solid rgba(255,255,255,0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #f14e5e;
}

.btn-homepage:hover {
  color:white;
  background-color: #960200;
}


.navbar-wagon-link:hover {
  color: #da552f;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#tutorial {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9998;
  display: none;
}

#tutorial-mobile {
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

@media only screen and (max-width: 767px) {
  .navbar-wagon-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
    z-index: 9999;
  }

  .btn-homepage {
  padding: 5px 10px 5px 10px;
  margin: 1px 1px 1px 1px;
  border:1px solid rgba(255,255,255,0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: #f14e5e;
  }
}
