.profile h3 {
  color: black;
  font-size: 22px;
  font-weight: bold;
}

#avatar {
  border-radius: 50%;
  width: 100;
  height: 100;
}

.bar-avatar {
  border-radius: 50%;
}

#twitter-bar {
  background-color: white;
}

.small-font {
  color: #657786;
  font-size: 14px;
}

#bio {
  color: black;
}

.profile .tab {
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;
}

.tab-box.active {
  border-bottom: 3px solid #0084b4;
}

.tab-box:hover {
  border-bottom: 3px solid #0084b4;
}

.tab-box a {
  text-decoration: none;
}

body {
  background-color: #e6ecf0;
  font-family: "Helvetica Neue", "arimo";
}

.info {
  background-color: #e6ecf0;
  border: none;
  box-shadow: none;
}

.button-word {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
}

.tab-number {
  color: #657786;
  font-weight: bold;
}

.active .tab-number {
  color: #0084b4;
}

.tab:hover .tab-number {
  color: #0084b4;
}

.follow-btn {
  background-color: white;
  color: #0084b4;
  border: 1px solid #0084b4;
  padding: 5px 25px 5px 25px;
  border-radius: 50px;
  font-size: 16px;
  text-decoration: none;
  text-shadow: none;
}

.follow-btn:hover {
  background-color: #E5F2F7;
  color: #0084b4;
  text-decoration: none;
}

.add-top-margin {
  margin-top: 10px;
}

/* cards */

.cards .card {
  margin: 10px;
  width: 250px;
}

.card-inline {
  display: inline;
}

.card-body {
  position: relative;
  height: 100px;
  background-size: cover;
  background-color: #1da1f2;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.card-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-links a:hover {
  opacity: 0.5;
}

.small-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
}

.card-name {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* scorecard */

.scorecard-name {
  font-size: 14px;
}

.score-panel {
  background-color: white;
}
