#avatar {
  border-radius: 50%;
  width: 150;
  height: 150;
}

#twitter-bar {
  background-color: white;
}

#handle {
  color: #657786;
  font-size: 14px;
}

.tab {
  flex: 1 1 auto;
  text-align: center;
}

.tab-box .tab .active {
  border-bottom: 3px solid #0084b4;
}

body {
  background-color: #e6ecf0;
  font-family: "Helvetica Neue", "arimo";
}

.info {
  background-color: #e6ecf0;
  border: none;
  box-shadow: none;
}

.button-word {
  color: #747474;
  font-size: 12px;
  font-weight: bold;
}

.tab-number {
  color: #747474;
  font-weight: bold;
}

.active .tab-number {
  color: #0084b4;
}

.follow-btn {
  background-color: white;
  color: #0084b4;
  border: 1px solid #0084b4;
  padding: 5px 25px 5px 25px;
  border-radius: 50px;
  font-size: 16px;
}

.follow-btn:hover {
  background-color: #E5F2F7;
  color: #0084b4;
}

#name {
  color: black;
  font-size: 22px;
  font-weight: bold;
}
