.background-row {
  background-color: $blue;
  height: 150px;
}

.profile h3 {
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: "Helvetica Neue", "arimo";
}

.bar-avatar img {
  border-radius: 50%;
  margin-top: -80px;
  border: 5px solid white;
}

.twitter-bar {
  background-color: white;
  height: 80px;
  position: relative;
  box-shadow: 0 1px 2px #ACACAC;
}

.small-font {
  color: #657786;
  font-size: 14px;
}

#bio {
  color: black;
}

.profile .tab {
  text-align: center;
  text-decoration: none;
}

.tab-box.active {
  border-bottom: 3px solid $blue;
}

.tab-box:hover {
  border-bottom: 3px solid $blue;
}

.tab-box a {
  text-decoration: none;
  text-align: center;
}

.tab-box {
  height: 55px;
}

body {
  background-color: #e6ecf0;
  font-family: "Helvetica Neue", "arimo";
}

.info {
  background-color: #e6ecf0;
  border: none;
  box-shadow: none;
}

.button-word {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
}

.tab-number {
  color: #657786;
  font-weight: bold;
  margin-top: -12px;
}

.active .tab-number {
  color: $blue;
}

.tab:hover .tab-number {
  color: $blue;
}

.follow-btn {
  background-color: white;
  color: $blue;
  border: 1px solid $blue;
  padding: 5px 25px 5px 25px;
  border-radius: 50px;
  font-size: 16px;
  text-decoration: none;
  text-shadow: none;
}

.follow-btn:hover {
  background-color: #E5F2F7;
  color: $blue;
  text-decoration: none;
}

.btn-spacing {
  margin-top: 40px
}

.add-top-margin {
  margin-top: 10px;
}

/* cards */

.cards .card {
  margin: 10px;
  width: 250px;
}

.card-inline {
  display: inline;
}

.card-body {
  position: relative;
  height: 100px;
  background-size: cover;
  background-color: $blue;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.card-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-links a:hover {
  opacity: 0.5;
}

.small-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
}

.card-name {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/* scorecard */

.scorecard-name {
  font-size: 14px;
}

.score-panel {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.score-panel img {
  border-radius: 50%;
}
